[Desktop Entry]
Type=Application
Name=Unnamed SDVX Clone
Comment=A game based on K-Shoot MANIA and Sound Voltex
Exec=usc-game
Icon=usc-game
Keywords=sdvx;sound voltex;k-shoot mania;kshootmania
Categories=Game
